

  .subscriber-button{
    background-color:rgb(200,0, 0);
    color:white;
    border:none;
    padding-top:10px;
   padding-right:10px;
   padding-left:10px;
   padding-bottom:10px;
    border-radius:2px;
    border-radius:5px;
    cursor:pointer;
    margin-right:8px;
    transition: opacity 0.15s;
  }
.subscriber-button:hover{
  opacity:0.8;
}
.subscriber-button:active{
  opacity:0.5;
}
  .join-button{
    background-color:rgb(255, 255, 255);
    color:rgb(6, 95, 212);
    font-size:14px;
    font-weight:500;
    border-color:rgba(0, 0, 0, 0.1);
    border-style:solid;
    border-width:1px;
   height:36px;
   padding-left:16px;
   padding-right:16px;
    cursor:pointer;
    margin-right:8px;
    border-radius:18px;
    transition: background-color 0.15s,color 0.15s;
  }
  .join-button:hover{
    background-color:rgba(62 ,166 ,255,0.05);
    
  }
  .tweet-button{
    background-color:rgb(98, 98, 255);
    color:white;
    border:none;
    padding-top:10px;
   padding-right:10px;
   padding-left:10px;
   padding-bottom:10px;
    
    border-radius:20px;
    font-weight:bold;
    font-size:15px;
    cursor:pointer;
    transition :box-shadow 0.15s;
  }
  .tweet-button:hover{
    box-shadow:5px 5px 10px rgba(0,0,0,0.15);
  }
